

.score-col
{
    font-family: CursedTimer;
    font-size: 1rem;
    text-align: center;
}

.score-col__team
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 1.31rem;
}

.score-col__score {
    background-color: rgba(8, 0, 1, 1);
    color: rgba(249, 79, 109, 1);
    font-size: 5.625em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9.68rem;
    height: 7.5rem;
    margin-bottom: 1.625rem;
}

.score-col__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.score-col__btn {
    width: 2.81rem;
    height: 2.81rem;
    background:none;
    border: solid 2px rgba(154, 171, 216, 1);
    color: rgba(154, 171, 216, 1);;
    font-family: inherit;
    border-radius: 0.3125rem;
    transition: background-color 300ms, color 300ms;
    cursor: pointer;
}

.score-col__btn:hover, .score-col__btn:focus {
    background-color: rgba(154, 171, 216, 1);
    color: rgba(27, 36, 74, 1);
}

