*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
  font-size: 18px;
}

body {
  font-family: var(--font-verdana);
  background-color: var(--color-dark-blue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  width: 100%;
}

button,
input,
textarea,
select {
  display: block;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

button {
  cursor: pointer;
}
