@font-face {
    font-family: CursedTimer;
    src: url("../assets/CursedTimer.ttf");
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(27, 36, 74, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

body > * {
    width: 100%;
}


.new-game-btn 
{
    margin: 0 auto;
    margin-top: 2rem;
    width: fit-content;
}